/* tablet & mobile  */
@media (max-width: 1023px) {
    .header {
        z-index: 1000;
        top: 0;
        width: 100%;
        height: 80px;
        position: fixed;
    }
    .header__logo {
        display: none;
    }
    .home-filter {
        display: none;
    }

    .category {
        display: none;
    }

    .home-filter-s {
        display: flex;
    }
    

    .header__navbar {
        display: none !important;
    }
    
    .content {
        margin-top: 80px;
        padding-top: 0;
    }

    .footer__area {
        display: none;
    }
}

/* Mobile  */
@media (max-width: 739px) {
    .home-filter-s__link {
        font-size: 1.4rem;
    }

    .pagination__link {
        width: 25px;
    }

    .header__cart {
        padding: 4px 10px;
    }

    .header__search {
        margin-left: 10px;
    }

    .home-filter-s__link {
        padding: 8px 22px;
    }
    
    .content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer {
        display: none;
    }
}
/* Table  */
@media (min-width: 740px) and (max-width: 1023px) {
    

}


